@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*colours */
  --color-primary-brown: #7a5e3f;
  --color-primary-pink: #ffe8ea;
  --color-primary-beige: #fefaf2;
  --color-primary-blue: #f3fbff;
  --color-secondary-green: #dad7be;
  --color-secondary-darkg: #918e71;
  --color-secondary-pink: #eec9cc;

  /*Typography */
  --font-display: "Beth Ellen", sans-serif;
  --font-p: "Courier Prime", monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
