---
// gets parameters from Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "default" } = Astro.props;

//Define your styling (Tailwind classes, applies to all links
const linkStyling = "px-6 py-2 rounded-full hover:text-primary-pink bg-primary-pink hover:bg-primary-brown font-p";

//Define your styling (Tailwind classes), applies to the different variants
const variantClasses = {
  textlink: "underline text-blue-500" /* text-primary-500 */,
  primary: "inline-block border-2 px-16 py-4 border-black" /* border-primary-500 */,
  secondary: "inline-block border-2 px-16 py-4 border-blue-500" /* border-secondary-500 */,
};

//Define your styling (Tailwind classes), applies to the different sizes.
const sizeClasses = {
  default: "text-default",
  large: "text-4xl",
  medium: "text-xl",
  small: "text-large",
};
---

<!--Set classes for the button in question using Astro's class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
